  <h1>Bien Reviews</h1>

  <h2>Best ever</h2>

  <p>random number is <%= @number %></p>

  <p>Restaurants</p>

    <% @reviews.each do |review|  %>

        <div class="review">

          <%= review %>

        </div>

    <% end %>
